@model IEnumerable<Finansy.Models.PricingPlan>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var plan in Model)
        {
            <tr>
                <td>@plan.Title</td>
                <td>@plan.Price</td>
            </tr>
        }
    </tbody>
</table>

